nav{
    background-color: #404246;
    color: white;
    text-align: center;
    top: 0;
    width: 100%;
    position: fixed;
    font-family: Pixelify Sans;
    margin: 0;
    padding: 0;
}
button{
    background-color: #404246;
    color: white;
    border: none;
    padding: 10px;
    font-family: Pixelify Sans;
    cursor: pointer;
}
button:hover{
    background-color: #5a5c5f;
}
